<div class="page-content-wrapper">
  <div class="page-content">
    <div class="row">
      <div class="col-lg-12">

        <!-- -->

        <h1 class="page-header">
          Alunos
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-dashboard"></i>  <a href="index.html">Painel</a>
          </li>
          <li><i class="fa fa-edit"></i> Cadastros Básicos</li>
          <li class="active">Alunos</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->
    <div class="row" style="min-height:650px;" id="iniciodoconteudo">
      <div class="col-lg-12">
        <a href="#iniciodoconteudo" id="iniciodoconteudo" accesskey="2" class="oculto">Início do conteúdo</a>
        <h3>Incluir</h3><br />
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="Identificação">Identificação:<span class="obg">*</span></label>
              <input id="Identificação" class="form-control bg-referencial" value="08098916702">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="nome">Nome:<span class="obg">*</span></label>
              <input id="nome" class="form-control" value="Simone de Morais Oliveira">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="nome curto">Nome Curto:<span class="obg">*</span></label>
              <input id="nome curto" class="form-control" value="Simone Morais">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="nacionalidade">Nacionalidade:<span class="obg">*</span></label>
              <select id="nacionalidade" class="form-control">
                <option value="">Selecione</option>
                <option value="1" selected>Brasileira</option>
                <option value="2">Estrangeira</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="lotação">Lotação:<span class="obg">*</span></label>
              <select id="lotação" class="form-control">
                <option value="">Selecione</option>
                <option value="1">Órgão</option>
                <option value="2">Fornecedor</option>
                <option value="3" selected>Guia Visual de Sistemas TJRJ</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="função">Função:<span class="obg">*</span></label>
              <select id="função" class="form-control">
                <option value="">Selecione</option>
                <option value="1">Administrador</option>
                <option value="2" selected>Gerente</option>
                <option value="3">Gestor de Contratos</option>
                <option value="4">Operacional</option>
                <option value="5">Básico</option>
                <option value="6" disabled>Fornecedor</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="título">Título:<span class="obg">*</span></label>
              <input id="título" class="form-control" value="Superintendente de Logística">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="email">Email:<span class="obg">*</span></label>
              <input id="email" class="form-control" value="simone.morais@tjrj.jus.br">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="telefone">Telefone:<span class="obg">*</span></label>
              <input id="telefone" class="form-control" value="(21) 98596-6354">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="observações">Observações:</label>
              <textarea id="observações" class="form-control" rows="2"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="bt-position">
              <a href="pessoa_consulta.html"><button type="button" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Salvar</button></a>
            </div>
            <div class="bt-position">
              <a href="pessoa_consulta.html"><button type="button" class="btn btn-default bt-position-cancel"><i class="fa fa-reply"></i>&nbsp;Voltar</button></a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->


</div>
