<header>
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse" id="iniciodomenu">
      <a href="#iniciodomenu" id="iniciodomenu" accesskey="1" class="oculto">Início do menu</a>
      <!-- BEGIN SIDEBAR MENU -->
      <!-- DOC: for circle icon style menu apply page-sidebar-menu-circle-icons class right after sidebar-toggler-wrapper -->
      <ul class="page-sidebar-menu">
        <li class="sidebar-toggler-wrapper">
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <div class="sidebar-toggler"></div>
          <div class="clearfix"></div>
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li id="titulo-sistema">
          <a href="#">
            <span class="title"><span><span>CEMV</span><br />Clínica Especializada em Medicina Veterinária</span></span>
            <span class="selected"></span>
          </a>
        </li>
        <li class="start ">
          <a href="index.html">
            <i class="fa fa-home fa-fw"></i>
            <span class="title">Página Inicial</span>
            <span class="selected"></span>
          </a>
        </li>
        <!-- ÍNICIO MENU GUIA VISUAL -->
        <li>
          <a href="javascript:;">
            <i class="fa fa-edit fa-fw"></i>
            <span class="title">Cadastros</span>
            <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a [routerLink]="['/cadastro/listatarefas']">Lista de Tarefas Diárias</a>
            </li>
            <li>
              <a [routerLink]="['/cadastro/cor']">Cor</a>
            </li>
            <li>
              <a [routerLink]="['professor']">Raça</a>
            </li>
            <li>
              <a [routerLink]="['questao']">Espécie</a>
            </li>
            <li>
              <a [routerLink]="['disciplina']">Fabricante</a>
            </li>
          </ul>
        </li>
        <!-- FIM MENU GUIA VISUAL -->
        <!-- ÍNICIO MENU TEMPLATES PÁGINAS -->
        <!--<li>
    <a href="javascript:;">
      <i class="fa fa-desktop fa-fw"></i>
      <span class="title">Templates de Telas</span>
      <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
      <li>
        <a href="template_login.html">Página de Login</a>
      </li>
      <li>
        <a href="template_erro.html">Página de Erro</a>
      </li>
      <li>
        <a href="template_1.html">Template de Tela 1</a>
      </li>
      <li>
        <a href="template_2.html">Template de Tela 2</a>
      </li>
      <li>
        <a href="template_3.html">Template de Tela 3</a>
      </li>
      <li>
        <a href="template_4.html">Template de Tela 4</a>
      </li>
      <li>
        <a href="template_5.html">Template de Tela 5</a>
      </li>
      <li>
        <a href="template_6.html">Template de Tela 6</a>
      </li>
    </ul>
  </li>
  <!-- FIM MENU TEMPLATES PÁGINAS -->
        
        <li>
          <a href="javascript:;">
            <i class="fa fa-cog fa-fw"></i>
            <span class="title">Configuração</span>
            <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="unidade_medida_consulta.html">Unidades de Medida</a>
            </li><!-- -->
            <li>
              <a href="instrumento_consulta.html">Instrumentos</a>
            </li>
            <li>
              <a href="natureza_consulta.html">Naturezas</a>
            </li>
            <li>
              <a href="modalidade_consulta.html">Modalidades</a>
            </li>
            <li>
              <a href="tipo_documento_consulta.html">Tipos de Documento</a>
            </li>
          </ul>
        </li>
        <li class="last">
          <a href="javascript:;">
            <i class="fa fa-users fa-fw"></i>
            <span class="title">Controle de Acessos</span>
            <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="usuario_consulta.html">Usuários</a>
            </li>
          </ul>
        </li>
        <!-- -->
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
  </div>
</header>
