<div class="page-content-wrapper">
  <div class="page-content">
    <div class="row">
      <div class="col-lg-12">
        <!-- -->
        <h1 class="page-header">
          Tarefas Diárias
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-dashboard"></i>  <a href="index.html">Painel</a>
          </li>
          <li><i class="fa fa-edit"></i> Cadastros Básicos</li>
          <li class="active">Lista de Tarefas</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->
    <div class="row" style="min-height:650px;" id="iniciodoconteudo">
      <div class="col-lg-12">
        <div class="row text-center">
          <task class="col-md-4"></task>
          <task-iniciada class="col-md-4"></task-iniciada>
          <task-finalizada class="col-md-4"></task-finalizada>
        </div>
      </div>    <!-- /.row -->
      <!-- /.col-lg-12 -->
    </div>
  </div>
  <!-- /#page-wrapper -->
</div>
